/*div {


}*/

#logo {
  width: 50%;
}

.center {
  text-align: center;
}

#addPlayers {
  width: 50%;
  text-align: center;
}

#gameBoard{
  display:none;
}

.box{
  height:100px;
  width:100px;
  border: 1px solid black;
  cursor:pointer;
  margin:2px;
  border-radius:5px;

}

.symbol{
  font-size:7rem;
  cursor:not-allowed; 
}
